{% extends 'App::layout.html.twig' %}

{% set title = 'Редактиране на етикета „' ~ label.name ~ '“' %}
{% block content %}
{{ form_start(form, { attr: {class: "edit-form main-form"} }) }}
	{{ form_errors(form) }}

	<dl>
		<dt>{{ form_label(form.slug, 'Идентификатор') }}</dt>
		<dd>{{ form_widget(form.slug) }}</dd>
		<dt>{{ form_label(form.name, 'Име') }}</dt>
		<dd>{{ form_widget(form.name) }}</dd>
		<dt>{{ form_label(form.parent, 'Родител') }}</dt>
		<dd>{{ form_widget(form.parent) }}</dd>
	</dl>

	<div>
		<ul class="actions">
			<li class="submit"><input type="submit" value="Запис"></li>
			<li class="cancel"><a href="{{ path('labels') }}">Всички етикети</a></li>
		</ul>
	</div>
{{ form_end(form) }}
{% endblock %}
