{% import 'App::link.html.twig' as link %}
{% if by is not defined %}
	{% set by = 'first-name' %}
{% endif %}
<ul class="superlist">
{% for author in persons %}
	<li><dl itemscope itemtype="http://schema.org/Person">
		{% if author.person is not empty %}
			<dt>
				<a href="{{ path('person_show', {'slug': author.slug}) }}" itemprop="url" data-edit="{{ path('admin_person_edit', {'id': author.id}) }}">{{ author.name|name_format(by)|raw }}</a>
				&rarr;
				<a href="{{ path('person_show', {'slug': author.person.slug}) }}" itemprop="url" data-edit="{{ path('admin_person_edit', {'id': author.person.id}) }}">{{ author.person.name|name_format(by)|raw }}</a>
			</dt>
			<dd class="orig-name">{{ author.orig_name ? author.orig_name|name_format(by)|raw : '—' }}</dd>
			<dd class="country">{{ link.authors_by_country(author.person.country) }}</dd>
		{% else %}
			<dt><a href="{{ path('person_show', {'slug': author.slug}) }}" itemprop="url" data-edit="{{ path('admin_person_edit', {'id': author.id}) }}">{{ author.name|name_format(by)|raw }}</a></dt>
			<dd class="orig-name">{{ author.orig_name ? author.orig_name|name_format(by)|raw : '—' }}</dd>
			<dd class="country" itemprop="nationality" itemscope itemtype="http://schema.org/Country">{{ link.authors_by_country(author.country) }}</dd>
		{% endif %}
	</dl></li>
{% else %}
	<li class="no-items">
		{% import 'App::helper.html.twig' as helper %}
		{{ helper.not_found('Няма намерени автори.') }}
	</li>
{% endfor %}
</ul>
