{% import 'LibBundle::book.html.twig' as booktools %}

{% if book.titleextra %}
	<div class="subheader">{{ book.titleextra|nl2br|raw }}</div>
{% endif %}

{% if book.removed_notice is not empty %}
	<div class="removed-notice">{{ book.removed_notice }}</div>
{% else %}
	<div class="cover-and-links">
		{{ booktools.cover_div(book, 200) }}
		{{ booktools.download_links(book) }}
	</div>
	{% if book.hasAnno %}
		<fieldset class="annotation">
			<legend>Анотация</legend>
			{{ book.annotationAsXhtml|replace({'IMG_DIR_PREFIX': asset('/')})|raw }}
		</fieldset>
	{% endif %}

	{% if template != "" %}
	<fieldset class="book-content superlist">
		<legend>Съдържание</legend>
		{% import 'LibBundle::text.html.twig' as texttools %}
		{# TODO refactor and improve this template expansion #}
		{% set options = {'title': 'TEXT_TITLE'} %}
		{% for text in book.texts %}
			{% set template = template|put_text_in_template(text, (book.isFromSameAuthor(text) ? texttools.text(text, options) : texttools.text_with_author(text, options))) %}
		{% endfor %}

		{{ template|join_lists|raw }}
	</fieldset>
	{% endif %}
{% endif %}

{% if book.links|length %}
	<div class="menu">
		<p>Тази книга в други сайтове:</p>
		<ul class="buttonmenu">
			{% for link in book.links %}
				<li><a href="{{ link.url }}">{{ link.site.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% if info %}
	<fieldset class="infobox">
		<legend>Допълнителна информация</legend>
		{{ booktools.qrcode(book) }}
		{{ info|raw }}
	</fieldset>
{% endif %}

{#
{% include 'LibBundle::color_legend.html.twig' %}
#}
