{% import 'LibBundle::book.html.twig' as booktools %}

{% if book.titleextra %}
	<div class="subheader">{{ book.titleextra|nl2br|raw }}</div>
{% endif %}

{% if book.has_cover %}
	{{ booktools.cover(book, 200) }}
{% endif %}

{% if annotation %}
	<div class="annotation">{{ annotation|raw }}</div>
{% endif %}

<div class="book-content superlist">
	{% import 'LibBundle::text.html.twig' as texttools %}
	{% for text in book.texts %}
		{% set template = template|replace_var('text:'~text.id, (book.isFromSameAuthor(text) ? texttools.text(text) : texttools.text_with_author(text))) %}
	{% endfor %}

	{{ template|join_lists|raw }}
</div>

<div class="menu">
	<p>Сваляне на книгата във формат:</p>
	{{ booktools.download_links(book, ' ') }}
</div>

{% if book.links|length %}
	<div class="menu">
		<p>Тази книга в други сайтове:</p>
		<ul class="buttonmenu">
			{% for link in book.links %}
				<li><a href="{{ link.url }}">{{ link.site.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% if info %}
	<fieldset class="infobox">
		<legend>Допълнителна информация</legend>
		{{ info|raw }}
	</fieldset>
{% endif %}

{% include 'LibBundle::color_legend.html.twig' %}
