{% import 'LibBundle::book.html.twig' as booktools %}

{% if book.titleextra %}
	<div class="subheader">{{ book.titleextra|nl2br|raw }}</div>
{% endif %}

{% if book.has_cover %}
	{{ booktools.cover(book, 200) }}
{% endif %}

{% if annotation %}
	<div class="annotation">{{ annotation|raw }}</div>
{% endif %}

<div class="menu">
	Сваляне на книгата във формат:
	{{ booktools.download_links(book, ' ') }}
</div>

{% if info %}
	<fieldset class="infobox">
		<legend>Информация</legend>
		{{ info|raw }}
	</fieldset>
{% endif %}
