{% extends 'layout.html.twig' %}

{% set title = 'Произведения' %}
{% block head %}
	{{ parent() }}
	<link rel="search" type="application/opensearchdescription+xml" href="{{ path('texts_search', {'_format': 'osd'}) }}" title="Търсене на произведения в Моята библиотека" />
{% endblock %}
{% block content %}
	<h2><a href="{{ path('texts_by_alpha_index') }}">По азбучен ред</a></h2>
	{% include 'Text/navigation.html.twig' with {'letter': ''} %}

	<h2><a href="{{ path('texts_by_label_index') }}">По етикет</a></h2>
	<div class="row">
		{% for labelGroup, labelsInGroup in labels %}
			<div class="col-md-6">
				<h3>{{ ('label.group.'~labelGroup)|trans }}</h3>
				{% include 'Text/label_tree.html.twig' with {labels: labelsInGroup, level: 0} %}
			</div>
		{% endfor %}
	</div>

	<h2><a href="{{ path('texts_by_type_index') }}">По форма</a></h2>
	<div class="two-columns">
		{% include 'Text/type_list.html.twig' %}
	</div>

	<h2><a href="{{ path('texts_by_language_index') }}">По език</a></h2>
	<div class="two-columns">
		{% include 'Text/language_list.html.twig' %}
	</div>

	<h2><a href="{{ path('texts_by_original_language_index') }}">По език на оригинала</a></h2>
	<div class="two-columns">
		{% include 'Text/original_language_list.html.twig' %}
	</div>
{% endblock %}
