{% import 'helper.html.twig' as helper %}
<ul>
{% for label in labels %}
	{% if level > 0 or label.parent is empty %}
	<li>
		{% if label.nrOfTexts > 0 %}
			<a href="{{ path('texts_by_label', {'slug': label.slug}) }}" data-edit="{{ path('admin_label_edit', {'id': label.id}) }}">{{ label.name }}</a>
			{{ helper.printNrOfItems(label.nrOfTexts, "tooltip.nr-of-texts-with-label"|trans({'%count%': label.nrOfTexts, '%label%': label.name})) }}
		{% else %}
			{{ label.name }}
		{% endif %}
		{{ helper.printInfoTip(label.description) }}
		{% if label.children is defined %}
			{% include 'Text/label_tree.html.twig' with {'labels': label.children, 'level': level+1} %}
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>
