{% extends 'layout.html.twig' %}

{% import 'link.html.twig' as link %}
{% set title = 'Произведения' %}
{% set subtitle %}<a class="selflink" data-edit="{{ link.admin_label_edit(label) }}">{{ label.name }}</a>{% endset %}
{% block content %}

	{% import 'helper.html.twig' as helper %}
	{% import 'link.html.twig' as link %}
	{% if texts is empty %}

		<p class="no-items">
			{{ helper.not_found('Няма намерени произведения.') }}
		</p>

	{% else %}

		{% set breadcrumbItems = { (path('texts')): 'Произведения' } %}
		{% for parent in parents %}
			{% set breadcrumbItems = breadcrumbItems|merge({ (path('texts_by_label', {'slug': parent.slug})) : parent.name }) %}
		{% endfor %}
		{% set currentBreadcrumbItem -%}
			<a href="{{ path('texts_by_label', {'slug': label.slug}) }}" data-edit="{{ link.admin_label_edit(label) }}">{{ label.name }}</a>
			{{ helper.printNrOfItems(label.nrOfTexts) }}
			{{ helper.printInfoTip(label.description) }}
		{%- endset %}
		{{ helper.printBreadcrumb( breadcrumbItems|merge({ '': currentBreadcrumbItem }) ) }}

		<div class="superlist">
			{% include 'listSettings.html.twig' %}
			{% include 'Text/list.html.twig' %}
			{% include 'Text/multi_download_form.html.twig' with { filename: 'label-'~label.name~'_'~pager.page } %}
		</div>
		{% include 'pager.html.twig' %}

	{% endif %}

	{#% include 'color_legend.html.twig' %#}

{% endblock %}
