{% extends 'layout.html.twig' %}

{% import 'link.html.twig' as link %}
{% set title %}Произведения на <a class="selflink" data-edit="{{ link.admin_language_edit(language) }}">{{ language }}</a>{% endset %}
{% block content %}

	{% import 'helper.html.twig' as helper %}
	{% import 'link.html.twig' as link %}
	{% if texts is empty %}

		<p class="no-items">
			{{ helper.not_found('Няма намерени произведения.') }}
		</p>

	{% else %}

		{% set currentBreadcrumItem -%}
			език: <a href="{{ path('texts_by_language', {'language': language.code}) }}" itemprop="name" data-edit="{{ link.admin_language_edit(language) }}">{{ language }}</a>
		{%- endset %}
		{{ helper.printBreadcrumb({
			(path('texts')): 'Произведения',
			'': currentBreadcrumItem
		}) }}

		{% include 'listSettings.html.twig' %}
		{% include 'Text/list.html.twig' %}
		{% include 'pager.html.twig' %}

	{% endif %}

{% endblock %}
