{% extends 'layout.html.twig' %}

{% set title %}Произведения с оригинален език <a class="selflink" data-edit="{{ path('admin_language_edit', {id: language.code}) }}">{{ language }}</a>{% endset %}
{% block content %}

	{% import 'helper.html.twig' as helper %}
	{% if texts is empty %}

		<p class="no-items">
			{{ helper.not_found('Няма намерени произведения.') }}
		</p>

	{% else %}

		{% set currentBreadcrumItem -%}
			оригинален език: <a href="{{ path('texts_by_original_language', {'language': language.code}) }}" itemprop="name" data-edit="{{ path('admin_language_edit', {id: language.code}) }}">{{ language }}</a>
		{%- endset %}
		{{ helper.printBreadcrumb({
			(path('texts')): 'Произведения',
			'': currentBreadcrumItem
		}) }}

		{% include 'listSettings.html.twig' %}
		{% include 'Text/list.html.twig' %}
		{% include 'pager.html.twig' %}

	{% endif %}

{% endblock %}
