{% macro download_link(texts, format, filename) %}
	{% set ids = '' %}
	{% for text in texts %}
		{% if not text.blocked %}
		{% set ids = ids ~ (loop.first ? '' : ',') ~ text.id %}
		{% endif %}
	{% endfor %}
	{% if ',' in ids %}
	<a href="{{ path('text_show', {'id': ids, '_format': format, filename: filename}) }}" title="Сваляне на всички във формат {{ format }}" class="btn btn-default btn-sm dl dl-{{ format|replace({'.zip': ''}) }}"><span class="sr-only">{{ format }}</span></a>
	{% endif %}
{% endmacro %}

{% set filename = filename is defined ? filename : '' %}
<dl class="download-multi">
	<dt>Сваляне на всички:</dt>
	<dd class="download">
		<div class="btn-group">
			{{ _self.download_link(texts, 'fb2.zip', filename) }}
			{{ _self.download_link(texts, 'epub', filename) }}
			{{ _self.download_link(texts, 'txt.zip', filename) }}
			{{ _self.download_link(texts, 'sfb.zip', filename) }}
		</div>
	</dd>
</dl>
