{% import 'helper.html.twig' as helper %}
{% if isExpanded is not defined %}
	{% set isExpanded = false %}
{% endif %}
<ul class="{{ not isExpanded ? 'two-columns' : '' }}">
{% for language in languages %}
	{% if language.nrOfTranslatedTexts > 0 %}
	<li>
		<a href="{{ path('texts_by_original_language', {'language': language.code}) }}" data-edit="{{ path('admin_language_edit', {'id': language.code}) }}">{{ language }}</a>
		{{ helper.printNrOfItems(language.nrOfTranslatedTexts, 'tooltip.nr-of-texts-from-language'|trans({'%count%': language.nrOfTranslatedTexts, '%language%': language.name})) }}
	</li>
	{% endif %}
{% endfor %}
</ul>
