{% if person.person is empty %}
	{% if wikiPage is defined %}
		{% if wikiPage.intro %}
			<p class="intro">{{ wikiPage.intro|raw }}</p>
		{% endif %}
		<div class="wikiinfo">{{ wikiPage.content|raw }}</div>
	{% else %}
		{% if person.orig_name is defined %}
			<p>Оригинално изписване: {{ person.orig_name }}</p>
		{% endif %}
		<p><i>Няма биографична информация за {{ person.name }}.</i> <!--<a href="{{ path('person_suggest', {'slug': person.slug}) }}">Предложете такава!</a>--></p>
	{% endif %}
{% else %}
	{% import 'App::link.html.twig' as link %}
	<p>{{ ('person.alt.'~person.type) | trans({'%current%': person.name, '%target%': link.person(person.person)})|raw }}</p>
{% endif %}
