{% extends 'LibBundle::layout.html.twig' %}

{% block navigation %}
	{{ render_esi(controller('LibBundle:User:personalTools')) }}
	{% include 'LibBundle::search_form.html.twig' %}
{% endblock %}

{% block site_notice %}{% endblock %}

{% block content %}
	<h1 class="welcome">Добре дошли в <em>Моята библиотека</em>!</h1>

	{% for siteNotice in siteNotices %}
		<div class="alert alert-info site-notice" style="{{ siteNotice.style }}">
			{{ siteNotice.content|raw }}
		</div>
	{% endfor %}

	<div class="dashboard">
		<ul>
			<li class="dashboard-author"><span class="light-flash"></span><a href="{{ path('authors') }}"><span class="fa fa-users"></span><br>Автори</a></li>
			<li class="dashboard-translator"><span class="light-flash"></span><a href="{{ path('translators') }}"><span class="fa fa-edit"></span><br>Преводачи</a></li>
			<li class="dashboard-book"><span class="light-flash"></span><a href="{{ path('books') }}"><span class="fa fa-book"></span><br>Книги</a></li>
			<li class="dashboard-title"><span class="light-flash"></span><a href="{{ path('texts') }}"><span class="fa fa-folder-open"></span><br>Творби</a></li>
			<li class="dashboard-series"><span class="light-flash"></span><a href="{{ path('series') }}"><span class="fa fa-sitemap"></span><br>Серии</a></li>
			<li class="dashboard-history"><span class="light-flash"></span><a href="{{ path('new') }}"><span class="fa fa-calendar"></span><br>Ново</a></li>
			<li class="dashboard-workroom"><span class="light-flash"></span><a href="{{ path('workroom') }}"><span class="fa fa-table"></span><br>Ателие</a></li>
		</ul>
	</div>

	<div class="special-books">
		<section id="mp-review" class="box box3 bookbox">
			<h2><a href="{{ path('reviews') }}">Открийте</a></h2>
			{{ render_esi(controller('LibBundle:Feed:randomReview')) }}
		</section>
		<section id="mp-foreign-book" class="box box3 bookbox">
			<h2><a href="{{ path('foreign_books') }}">Купете си</a></h2>
			{{ render_esi(controller('LibBundle:ForeignBook:book')) }}
		</section>
		<section id="mp-featured-book" class="box box3 bookbox">
			<h2><a href="{{ path('featured_books') }}">Прочетете</a></h2>
			{{ render_esi(controller('LibBundle:FeaturedBook:book')) }}
		</section>
	</div>
	<div class="separator"></div>

	<section id="mp-new-books" class="box box2">
		<h2><a href="{{ path('new_books') }}">Нови книги</a></h2>
		<div class="well">
			{{ render_esi(controller('LibBundle:Main:lastBooks')) }}
			<div class="more"><a href="{{ path('new_books') }}">Още нови книги</a></div>
		</div>
	</section>
	<section id="mp-new-texts" class="box box2 textbox">
		<h2><a href="{{ path('new_texts') }}">Нови произведения</a></h2>
		<div class="well">
			{{ render_esi(controller('LibBundle:Main:lastTexts')) }}
			<div class="more"><a href="{{ path('new_texts') }}">Още нови произведения</a></div>
		</div>
	</section>
	<div class="separator"></div>

	<section id="mp-liternews" class="box liternewsbox">
		<h2><a href="http://planet.chitanka.info/">От литературните блогове</a></h2>
		{{ render_esi(controller('LibBundle:Feed:lastLiternews')) }}
	</section>
{#
	<section id="mp-insidenews" class="box box3 insidenews">
		<h2><a href="http://identi.ca/chitanka">Кратки съобщения</a></h2>
		{{ render_esi(controller('LibBundle:Feed:lastInsideNews')) }}
	</section>
#}
	<section id="mp-search" class="box box3">
		<h2><a href="{{ path('search') }}">Потърсено</a></h2>
		<div class="well">
			{{ render_esi(controller('LibBundle:Search:latest', {'limit': 50})) }}
		</div>
	</section>
	<div class="separator"></div>

	<section id="mp-reader-comments" class="box box2 commentbox">
		<h2><a href="{{ path('texts_comments') }}">Читателите казват</a></h2>
		{{ render_esi(controller('LibBundle:TextComment:latest')) }}
	</section>
	<section id="mp-forum-posts" class="box box2 forumbox">
		<h2><a href="http://forum.chitanka.info">От форума</a></h2>
		{{ render_esi(controller('LibBundle:Feed:lastForumPosts')) }}
	</section>
	<div class="separator"></div>
{% endblock %}
{% block inline_js %}
(function(){
	var expander = '<button class="expander btn btn-default" role="button"><span>Показване на още</span> <span class="fa fa-angle-double-down"></span></button>';
	var hideCss = {"overflow": "hidden"};
	var showCss = {"height": "auto", "overflow": "visible"};

	var adjustHeight = function(elm, height){
		if ($(elm).height() > height){
			$(elm).height(height).addClass("collapsed").css(hideCss).after(expander).click(function(){
				$(this).css(showCss).next(".expander").remove();
			});
		}
	};

	$(".commentbox article, .forumbox article").each(function(){
		adjustHeight(this, 220);
	});
	$(".liternewsbox article, .insidenews article").each(function(){
		adjustHeight(this, 450);
	});
	$("button.expander").live("click", function(){
		$(this).prev().removeClass("collapsed").css(showCss).end().remove();
	});
})();
{% endblock %}
