<div class="media book-media" itemscope itemtype="http://schema.org/Book">
	<div class="media-left">
		<a href="{{ path('foreign_books_show', {id: book.id}) }}" class="cover thumbnail" style="width: 130px">
			<img class="media-object" src="/{{ cover(book.coverPath, 120) }}" alt="корица" style="width:120px">
		</a>
	</div>
	<div class="media-body">
		<div class="bookauthor" itemprop="author">{{ book.author }}</div>
		<a class="booklink" data-edit="{{ path('admin_foreign_book_edit', {id: book.id}) }}" href="{{ path('foreign_books_show', {id: book.id}) }}">
			<i itemprop="name">{{ book.title }}</i>
		</a>
		{% if book.category is not empty %}
			<div class="book-extra" title="Категория">
				Категория: {{ book.category.name }}
			</div>
		{% endif %}
		{% if current_route != 'publishers_show' %}
			<div class="book-extra">
				Издател: <a href="{{ path('publishers_show', {slug: book.publisher.slug}) }}" data-edit="{{ path('admin_publisher_edit', {id: book.publisher.id}) }}">{{ book.publisher.name }}</a>
			</div>
		{% endif %}
		{% if book.publishedAt %}
			<div class="book-extra">
				Дата на издаване: <time datetime="{{ book.publishedAt|date('c') }}">{{ book.publishedAt|date('d.m.Y') }}</time>
			</div>
		{% endif %}
		<div class="book-external-link">
			<a href="{{ book.externalUrl }}" title="Място за сдобиване с книгата"><span class="fa fa-external-link"></span> {{ book.externalUrl|domain }}</a>
		</div>
	</div>
</div>
