{% extends 'App::layout.html.twig' %}

{% set itemtype = "Book" %}
{% set title %}
	{% if book.author is not empty %}
		{{ book.author }}<br>
	{% endif %}
	<a class="selflink" itemprop="name" data-edit="{{ path('admin_foreign_book_edit', {'id': book.id}) }}">{{ book.title }}</a>
{% endset %}

{% block content %}
	<ul class="breadcrumb" itemprop="breadcrumb">
		<li><a href="{{ path('publishers_index') }}">Издатели</a></li>
		<li><a href="{{ path('publishers_show', {slug: book.publisher.slug}) }}">{{ book.publisher.name }}</a></li>
	</ul>
	<div class="alert alert-info" role="alert">
		<p>Това е безплатна реклама на книга в друг сайт. Прочетете <a href="{{ path('wiki', {page: 'terms-of-use/foreign-books'}) }}">условията за ползване</a>, ако желаете да се възползвате от нея.</p>
	</div>
	<div class="media book-media book-media-single" itemscope itemtype="http://schema.org/Book">
		<div class="media-left">
			<div class="cover thumbnail" style="width: 310px">
				<img class="media-object" src="/{{ cover(book.coverPath, 300) }}" alt="Корица" itemprop="image" width="300">
			</div>
		</div>
		<div class="media-body">
			{% if book.annotation is not empty %}
				<div class="text-content book-anno">
					{{ book.annotation|nl2br }}
				</div>
			{% endif %}
			<dl style="margin: 1em">
				{% if book.publishedAt %}
					<dt>Дата на публикация</dt>
					<dd><time datetime="{{ book.publishedAt|date('c') }}">{{ book.publishedAt|date('d.m.Y') }}</time></dd>
				{% endif %}
				{% if book.category is not empty %}
					<dt>Категория</dt>
					<dd>{{ book.category.name }}</dd>
				{% endif %}
				<dt>Място за сдобиване с книгата</dt>
				<dd>
					<a href="{{ book.externalUrl }}"><span class="fa fa-external-link"></span> {{ book.externalUrl }}</a>
				</dd>
			</dl>
		</div>
	</div>

	{% if book.excerpt is not empty %}
		<ul class="nav nav-tabs">
			<li><a href="#book-excerpt" data-toggle="tab"><span class="fa fa-book"></span> Откъс</a></li>
		</ul>
		<div class="tab-content">
			<div id="book-excerpt" class="tab-pane text-content text-content-main">
				{{ book.excerpt|raw }}
			</div>
		</div>
	{% endif %}
{% endblock %}
