{% macro person(person) %}
	<a href="{{ url('person_show', {'slug': person.slug}) }}">{{ person.name }}</a>
{% endmacro %}

{% macro persons(persons) %}
	{% if persons|length == 1 %}
		{{ _self.person(persons.0) }}
	{% else %}
		<ul class="simplelist">
		{% for person in persons %}
			<li>{{ _self.person(person) }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% macro persons_comma(persons) %}
	{% for person in persons %}
		<a href="{{ url('person_show', {'slug': person.slug}) }}">{{ person.name }}</a>{{ loop.last ? '' : ',' }}
	{% endfor %}
{% endmacro %}

{% macro authors_by_country(country) %}
	<a href="{{ url('authors_by_country', {'country': country}) }}">{{ ('country.'~country) | trans }}</a>
{% endmacro %}

{% macro series(series) %}
	<a href="{{ url('series_show', {'slug': series.slug}) }}"><i>{{ series.name }}</i></a>
{% endmacro %}

{% macro text(text) %}
	<a href="{{ url('text_show', {'id': text.id ~'-'~ text.slug}) }}"><em>{{ text.title }}</em></a>
{% endmacro %}

{% macro book(book) %}
{% spaceless %}<a href="{{ url('book_show', {'id': book.id ~'-'~ book.slug}) }}"><i>{{ book.title }}</i></a>{% endspaceless %}
{% endmacro %}

{% macro sequence(sequence) %}
{% spaceless %}<a href="{{ url('sequence_show', {'slug': sequence.slug}) }}" rel="category">{{ sequence.name }}</a>{% endspaceless %}
{% endmacro %}

{% macro category(category) %}
	<a href="{{ url('books_by_category', {'slug': category.slug}) }}" rel="category tag">{{ category.name }}</a>
{% endmacro %}

{% macro label(label) %}
{% spaceless %}<a href="{{ url('texts_by_label', {'slug': label.slug}) }}" rel="tag">{{ label.name }}</a>{% endspaceless %}
{% endmacro %}
