{% macro book(book) %}
	{% import 'App::link.html.twig' as link %}
	<div class="media book-media" itemscope itemtype="http://schema.org/Book">
		<div class="media-left">
			{{ _self.cover(book, 90) }}
		</div>
		<div class="media-body">
			<a href="{{ path('book_show', {'id': book.id ~'-'~ book.slug}) }}"
				class="booklink"
				data-edit="{{ path('admin_book_edit', {'id': book.id}) }}">
				<i itemprop="name">{{ book.title }}</i>
			</a>
			{% if book.hasAnno %}
				<a class="book-clue" data-href="{{ path('book_show', {'id': book.id, '_format': 'clue'}) }}"><i class="fa fa-info-circle" title="Анотация"></i></a>
			{% endif %}
			{% if book.subtitle is not empty %}
				<div itemprop="alternativeHeadline">{{ book.subtitle|replace({'\\n': '<br>'})|raw }}</div>
			{% endif %}

			{% if book.authors|length %}
				<div class="bookauthor" itemprop="author">{{ link.persons_comma(book.authors) }}</div>
			{% endif %}
			{% if book.sequence is not empty %}
				<div class="bookseq">{{ link.sequence(book.sequence) }}{% if book.seqnr is not empty and book.sequence.isSeqnrVisible %}, №&nbsp;{{ book.seqnr }}{% endif %}</div>
			{% endif %}
			{% if book.category is not empty %}
				<div class="bookcat">{{ link.category(book.category) }}</div>
			{% endif %}

			{% if book.removedNotice is empty %}
				<div class="download-links">{{ _self.download_links(book) }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro download_link(book, format, title) %}
	{% spaceless %}
	<a href="{{ path('book_show', {'id': book.id ~'-'~ book.slug, '_format': format}) }}" title="{{title|default('Сваляне във формат '~format)}}" class="btn btn-default dl dl-{{ format|replace({'.zip': ''}) }} action"><span class="sr-only">{{ format }}</span></a>
	{% endspaceless %}
{% endmacro %}

{% macro download_links(book) %}
	<div class="btn-group" role="group">
		{% if "sfb" in book.formats %}
			{{ _self.download_link(book, "fb2.zip") }}
			{{ _self.download_link(book, "epub") }}
			{{ _self.download_link(book, "txt.zip") }}
			{{ _self.download_link(book, "sfb.zip") }}
		{% endif %}
		{% if "djvu" in book.formats %}
			{{ _self.download_link(book, "djvu") }}
		{% endif %}
		{% if "pdf" in book.formats %}
			{{ _self.download_link(book, "pdf") }}
		{% endif %}
		{% if "pic" in book.formats %}
			{{ _self.download_link(book, "pic", "Преглед в галерия") }}
		{% endif %}
	</div>
{% endmacro %}

{% macro cover(book, width) %}
	<div class="cover thumbnail" style="width: {{ width + 10 }}px">
		<img class="media-object" src="{{ asset(book.hasCover ? cover(book.id, width) : cover(0, width, 'png')) }}" alt="Корица" itemprop="image" width="{{ width }}">
	</div>
{% endmacro %}

{% macro cover_div(book, width) %}
	<div class="cover thumbnail" style="width: {{ width + 10 }}px">
		{% if book.hasCover %}
			<a href="{{ asset(cover(book.id, 'max')) }}"><img class="media-object" src="{{ asset(cover(book.id, width)) }}" alt="Корица" itemprop="image" width="{{ width }}"></a>
		{% else %}
			<img class="media-object" src="{{ asset(cover(0, width, 'png')) }}" alt="Корица" itemprop="image" width="{{ width }}">
		{% endif %}
		{% if book.removedNotice is empty %}
			<div class="download-links">{{ _self.download_links(book) }}</div>
		{% endif %}
	</div>
{% endmacro %}

{% macro qrcode(book) %}
	<a href="http://bg.wikipedia.org/wiki/QR_%D0%BA%D0%BE%D0%B4" class="qrcode"><img src="{{ url('book_show', {'id': book.id ~'-'~ book.slug})|qrcode }}"></a>
{% endmacro %}
