{% macro not_found(message) %}
	<div class="alert alert-warning">
		<span class="fa fa-frown-o"></span>
		{{ message }}
	</div>
{% endmacro %}

{% macro printInfoTip(message, isExpanded) %}
	{% if message is not empty %}
		{% if isExpanded|default(false) %}
			<div class="well">{{ message|nl2br }}</div>
		{% else %}
			<span class="popover-trigger" data-content="{{ message|nl2br }}"><span class="fa fa-info-circle"></span></span>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro printNrOfItems(nrOfItems, title) %}
	{% if nrOfItems > 0 %}
		<span class="badge nr-of-items" title="{{ title|default('') }}">{{ nrOfItems }}</span>
	{% endif %}
{% endmacro %}

{% macro printSortLink(route, routeParams, field, direction, currentSort) %}
	{% set sort = field ~ '-' ~ direction %}
	{% set fieldHuman = ('field.'~field)|trans %}
	<a href="{{ path(route, routeParams|merge({ sort: sort })) }}" class="dropdown-item" title="{{ ('sort.'~direction)|trans({'%field%': fieldHuman}) }}"><span class="fa fa-fw {{ sort == currentSort ? 'fa-check' : '' }}"></span> {{ fieldHuman }} <span class="fa {{ direction == 'asc' ? 'fa-chevron-up' : 'fa-chevron-down' }}"></span></a>
{% endmacro %}

{% macro printHumanSortOption(sort) %}
	{# @var sort \App\Entity\Query\SortingItem #}
	{{ ('field.'~sort.fieldWoAlias)|trans }} <span class="fa {{ sort.direction == 'asc' ? 'fa-chevron-up' : 'fa-chevron-down' }}"></span>
{% endmacro %}

{% macro printBreadcrumb(items) %}
	<nav aria-label="breadcrumb" itemprop="breadcrumb">
		<ol class="breadcrumb">
			{% for url, text in items %}
				{% if loop.last %}
					<li class="active" aria-current="page">{{ text|raw }}</li>
				{% else %}
					<li><a href="{{ url }}">{{ text }}</a></li>
				{% endif %}
			{% endfor %}
		</ol>
	</nav>
{% endmacro %}

