{% macro person(person) %}
{% spaceless %}
	<span itemscope itemtype="http://schema.org/Person"><a href="{{ path('person_show', {'slug': person.slug}) }}" itemprop="name" data-edit="{{ path('admin_person_edit', {'id': person.id}) }}">{{ person.name }}</a></span>
{% endspaceless %}
{% endmacro %}

{% macro persons(persons) %}
	{% if persons|length == 1 %}
		{{ _self.person(persons.0) }}
	{% else %}
		<ul class="simplelist">
		{% for person in persons %}
			<li>{{ _self.person(person) }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% macro persons_comma(persons) %}
	{% for person in persons %}
		<span itemscope itemtype="http://schema.org/Person"><a href="{{ path('person_show', {'slug': person.slug}) }}" itemprop="name" data-edit="{{ path('admin_person_edit', {'id': person.id}) }}">{{ person.name }}</a></span>{{ loop.last ? '' : ',' }}
	{% endfor %}
{% endmacro %}

{% macro translators_plain(persons) %}
{% spaceless %}
	{% for person in persons %}
		{{ person.name }}{{ loop.last ? '' : ',' }}
	{% else %}
		Неизвестен преводач
	{% endfor %}
{% endspaceless %}
{% endmacro %}

{% macro authors_by_country(country) %}
	<a href="{{ path('authors_by_country', {'country': country}) }}" itemprop="name">{{ ('country.'~country) | trans }}</a>
{% endmacro %}

{% macro series(series) %}
	<a href="{{ path('series_show', {'slug': series.slug}) }}" data-edit="{{ path('admin_series_edit', {'id': series.id}) }}"><i>{{ series.name }}</i></a>
{% endmacro %}

{% macro text(text, options) %}
{% spaceless %}<a href="{{ path('text_show', {'id': text.id ~'-'~ text.slug}) }}" class="textlink" itemprop="name" data-edit="{{ path('admin_text_edit', {'id': text.id}) }}"
	title="{{ text.note }}"
{% if text.lang != text.origLang %}
	{#% if text.translators is defined %}
		title="Превод: {{ _self.translators_plain(text.translators) }} {{ text.transYear is defined ? '(' ~ text.transYear ~ ')' : '' }}"
	{% endif %#}
{% endif %}><i>{{ options.title is defined ? options.title : text.title }}</i></a>{% endspaceless %}
{% endmacro %}

{% macro book(book) %}
{% spaceless %}<a href="{{ path('book_show', {'id': book.id ~'-'~ book.slug}) }}" {% if book.hasAnno %}rel="{{ path('book_show', {'id': book.id, '_format': 'clue'}) }}"{% endif %} class="booklink" itemprop="name" data-edit="{{ path('admin_book_edit', {'id': book.id}) }}"><i>{{ book.title }}</i></a>{% endspaceless %}
{% endmacro %}

{% macro sequence(sequence) %}
{% spaceless %}<a href="{{ path('sequence_show', {'slug': sequence.slug}) }}" rel="category" data-edit="{{ path('admin_sequence_edit', {'id': sequence.id}) }}">{{ sequence.name }}</a>{% endspaceless %}
{% endmacro %}

{% macro category(category) %}
	<a href="{{ path('books_by_category', {'slug': category.slug}) }}" rel="category tag" data-edit="{{ path('admin_category_edit', {'id': category.id}) }}">{{ category.name }}</a>
{% endmacro %}

{% macro label(label) %}
{% spaceless %}<a href="{{ path('texts_by_label', {'slug': label.slug}) }}" rel="tag" data-edit="{{ path('admin_label_edit', {'id': label.id}) }}">{{ label.name }}</a>{% endspaceless %}
{% endmacro %}

{% macro user_with_email(user) %}
<a href="{{ path('user_show', {'username': user.username}) }}" class="user">{{ user.username }}</a>&#160;{% if user.allowemail %}<a href="{{ path('email_user', {'username': user.username}) }}" title="Пращане на писмо на {{ user.username }}"><span class="fa fa-envelope-o"></span><span class="sr-only">Е-поща</span></a>{% endif %}
{% endmacro %}
