{% if book is defined %}
	<div id="wanted-book">
		<p><a href="{{ path('wanted') }}">Търсим</a>:
		{% if put_link %}
			<b><a href="{{ path('wanted') }}">{{ book.description }}</a></b>
		{% else %}
			<b>{{ book.description|raw }}</b>
		{% endif %}
		{% if show_link_wo_cover %}
			<br /><b><a href="{{ path('books_by_wo-cover') }}">Вижте списъка</a></b>
		{% endif %}
		</p>
	</div>
{% endif %}
