{% import 'text.html.twig' as text_lister %}
{% import 'helper.opds.twig' as helper %}
{% for serie in series %}
	<entry>
		<title>{{ serie.name }}</title>
		<id>{{ helper.urn('series_show', [serie.slug]) }}</id>
		{{ helper.link(helper.path('series_show', {'slug': serie.slug})) }}
		<content type="html">
			{% filter escape %}
			<dl>
				{% if serie.origName is defined %}
					<dt>Оригинално име</dt>
					<dd>{{ serie.origName }}</dd>
				{% endif %}
				<dt>Автор</dt>
				<dd>{{ text_lister.author_list(serie.authors, ' ', 'opds') }}</dd>
			</dl>
			{% endfilter %}
		</content>
	</entry>
{% endfor %}
