{% import 'helper.html.twig' as helper %}
<ul>
{% for category in categories %}
	{% if level > 0 or category.parent is empty %}
	<li>
		{% if category.nrOfBooks > 0 %}
			<a href="{{ path('books_by_category', {'slug': category.slug}) }}" data-edit="{{ path('admin_category_edit', {'id': category.id}) }}">{{ category.name }}</a>
			{{ helper.printNrOfItems(category.nrOfBooks, "tooltip.nr-of-books-with-category"|transchoice(category.nrOfBooks, {'%category%': category.name})) }}
		{% else %}
			{{ category.name }}
		{% endif %}
		{{ helper.infoTip(category.description) }}
		{% if category.children is defined %}
			{% include 'App:Book:category_tree.html.twig' with {'categories': category.children, 'level': level+1} %}
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>
