<ul>
{% for category in categories %}
	{% if level > 0 or category.parent is empty %}
	<li>
		<a href="{{ path('books_by_category', {'slug': category.slug}) }}" data-edit="{{ path('admin_category_edit', {'id': category.id}) }}">{{ category.name }}</a>
		{% if category.nrOfBooks > 0 %}
			<span class="badge">{{ category.nrOfBooks }}</span>
		{% endif %}
		{#
		{% if has_role("ROLE_ADMIN") %}
			<a href="{{ path('admin_category_edit', {'id': category.id}) }}" title="Редактиране на категорията" class="edit"><span>редактиране</span></a>
		{% endif %}
		#}
		{% if category.children is defined %}
			{% include 'App:Book:category_tree.html.twig' with {'categories': category.children, 'level': level+1} %}
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>
