<books>
{% for book in books %}
	<book>
		<id>{{ book.id }}</id>
		<slug>{{ book.slug }}</slug>
		<title>{{ book.title }}</title>
		{% if book.subtitle is defined %}<subtitle>{{ book.subtitle }}</subtitle>{% endif %}
		{% if book.titleExtra is defined %}<title-extra>{{ book.titleExtra }}</title-extra>{% endif %}
		{% if book.origTitle is defined %}<orig-title>{{ book.origTitle }}</orig-title>{% endif %}
		<lang>{{ book.lang }}</lang>
		<orig-lang>{{ book.origLang is defined ? book.origLang : '' }}</orig-lang>
		<year>{{ book.year }}</year>
		<type>{{ book.type }}</type>
		{% for person in book.authors %}
			<author>
				{% include 'App:Person:person.xml.twig' %}
			</author>
		{% endfor %}
		{% if book.sequence is not empty %}
			<sequence {% if book.seqnr is defined and book.sequence.isSeqnrVisible %} nr="{{ book.seqnr }}"{% endif %}>
				<id>{{ book.sequence.id }}</id>
				<slug>{{ book.sequence.slug }}</slug>
				<name>{{ book.sequence.name }}</name>
				<publisher>{{ book.sequence.publisher }}</publisher>
			</sequence>
		{% endif %}
		<category>
			<id>{{ book.category.id }}</id>
			<slug>{{ book.category.slug }}</slug>
			<name>{{ book.category.name }}</name>
			<nr-of-books>{{ book.category.nrOfBooks }}</nr-of-books>
		</category>
		{% if book.hasAnno %}<has-annotation/>{% endif %}
		{% if book.hasCover %}<has-cover/>{% endif %}
		<removed-notice>{{ book.removedNotice }}</removed-notice>
		<created-at>{{ book.createdAt.format('Y-m-d') }}</created-at>
	</book>
{% endfor %}
</books>
