{% extends 'App::layout.html.twig' %}

{% set title = 'Книги в категория „' ~ category.name ~ '“' %}
{% block content %}

	<ul class="breadcrumb" itemprop="breadcrumb">
		<li><a href="{{ path('books') }}">Книги</a></li>
		{% for parent in parents %}
			<li><a href="{{ path('books_by_category', {'slug': parent.slug}) }}">{{ parent.name }}</a></li>
		{% endfor %}
		<li class="active">
			{{ category.name }}
			<span class="badge">{{ category.nrOfBooks }}</span>
		</li>
	</ul>

	{% include 'App:Book:list.html.twig' %}
	{% include 'App::pager.html.twig' %}

{% endblock %}
