{% import 'App::book.html.twig' as booktools %}

{% if book.titleextra %}
	<div class="subheader">{{ book.titleextra|nl2br|raw }}</div>
{% endif %}

	<div class="media book-media book-media-single {% if book.removedNotice is not empty %}book-is-removed{% endif %}" itemscope itemtype="http://schema.org/Book">
		<div class="pull-left">
			{{ booktools.cover_div(book, 250) }}
		</div>
		<div class="media-body">
			{% if book.hasAnno %}
				<div class="text-content book-anno">
					{{ book.annotationAsXhtml|replace({'IMG_DIR_PREFIX': asset('/')})|raw }}
				</div>
			{% endif %}
		</div>
	</div>

{% if book.removedNotice is not empty %}
	<div class="removed-notice">{{ book.removedNotice|raw }}</div>
{% else %}
	<ul class="nav nav-tabs book-tabs">
		{% if template != "" %}
			<li><a href="#book-content" data-toggle="tab"><span class="fa fa-book"></span> Съдържание</a></li>
		{% endif %}
		{% if book.type != 'single' and 'sfb' in book.formats %}
			<li><a href="{{ path('book_show', {id: book.id, _format: 'htmlx'}) }}" data-target="#book-full-content" data-toggle="tab"><span class="fa fa-file-text-o"></span> Пълно текстово съдържание</a></li>
		{% endif %}
		{% if info %}
			<li><a href="#book-extra-info" data-toggle="tab"><span class="fa fa-tag"></span> Информация</a></li>
		{% endif %}
		<li><a href="#book-edit-history" data-toggle="tab"><span class="fa fa-list"></span> История</a></li>
		{% if book.bibliomanId is not empty %}
			<li><a href="#book-biblioman" data-toggle="tab"><span class="fa fa-newspaper-o"></span> Библиоман</a></li>
		{% endif %}
		<li><a href="#book-links" data-toggle="tab"><span class="fa fa-download"></span> Сваляне / Връзки</a></li>
	</ul>
	<div class="tab-content">
		{% if template != "" %}
			<div id="book-content" class="book-content book-type-{{ book.type }} superlist tab-pane">
				<h3 class="sr-only">Съдържание</h3>
				{% import 'App::text.html.twig' as texttools %}
				{# TODO refactor and improve this template expansion #}
				{% set options = {'title': 'TEXT_TITLE', 'download_links': true} %}
				{% for text in book.texts %}
					{% set template = template|put_text_in_template(text, (book.isFromSameAuthor(text) ? texttools.text(text, options) : texttools.text_with_author(text, options))) %}
				{% endfor %}

				{{ template|join_lists|replace({'IMG_DIR_PREFIX': asset('/')})|raw }}
			</div>
		{% endif %}

		<section class="tab-pane text-content text-content-main" id="book-full-content">
			<br>
		</section>

		{% if info %}
			<div class="tab-pane text-content book-extra-info" id="book-extra-info">
				<h3 class="sr-only">Информация</h3>
				{{ info|raw }}
			</div>
		{% endif %}

		<div class="tab-pane text-book-edit-history" id="book-edit-history">
			<h3 class="sr-only">История</h3>
			<ol>
				{% for revision in book.revisions %}
					<li><time datetime="{{ revision.date|date('c') }}">{{ revision.date|date('d.m.Y') }}</time> — {{ revision.comment }}</li>
				{% endfor %}
			</ol>
		</div>

		{% if book.bibliomanId is not empty %}
			<div class="tab-pane" id="book-biblioman" style="height: 3000px">
				<h3 class="sr-only">Библиоман</h3>
				<iframe name="biblioman-frame" src="{{ biblioman_url(book.bibliomanId) }}?nonavigation" width="100%" height="100%" style="border:0"></iframe>
			</div>
		{% endif %}

		<div class="tab-pane expanded-links" id="book-links">
			<h3 class="sr-only">Сваляне / Връзки</h3>
			Книгата във формат:
			{{ booktools.download_links(book) }}
			{% if book.links|length %}
				<div class="menu">
					<p>Тази книга в други сайтове:</p>
					<ul>
						{% for link in book.links %}
							<li><a href="{{ link.url }}" class="btn btn-default">{{ link.site.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
