{% extends 'LibBundle::layout.atom.twig' %}

{% import 'LibBundle::helper.atom.twig' as helper %}
{% set id = helper.urn('texts') %}
{% set link_self = helper.url('texts') %}
{% set title = 'Произведения' %}
{% block content %}
	<entry>
		<title>По азбучен ред</title>
		<id>{{ helper.urn('texts_by_letter_index') }}</id>
		{{ helper.link(helper.url('texts_by_letter_index')) }}
		<content type="text">Списък на произведенията по азбучен ред</content>
	</entry>
	<entry>
		<title>По етикет</title>
		<id>{{ helper.urn('texts_by_label_index') }}</id>
		{{ helper.link(helper.url('texts_by_label_index')) }}
		<content type="text">Списък на произведенията по етикет</content>
	</entry>
	<entry>
		<title>По форма</title>
		<id>{{ helper.urn('texts_by_type_index') }}</id>
		{{ helper.link(helper.url('texts_by_type_index')) }}
		<content type="text">Списък на произведенията по форма</content>
	</entry>
{% endblock %}
