{% import 'LibBundle::text.html.twig' as textinfo %}
{% import 'LibBundle::link.html.twig' as link %}
<fieldset class="infobox text-entity" data-id="{{ text.id }}">
	<legend>Информация<a href="#after-infobox" class="assistive"> (Прескачане на информацията)</a></legend>
	<ul>
		{% if text.series.slug is defined %}
			<li>
			Поредица: {{ link.series(text.series) }}
			{% if text.sernr %}
				({{ text.sernr }})
			{% endif %}
			</li>
		{% endif %}
		{% if text.books|length %}
			<li>
			{% if text.books|length == 1 %}
				Включено в книгата
			{% elseif text.books|length > 1 %}
				Включено в книгите:
			{% endif %}
			{% include 'LibBundle:Book:list.html.twig' with {'books': text.books} %}
			</li>
		{% endif %}
		<li>
			{% if text.origlang == text.lang %}
				<span title="Година на написване или първа публикация">Година</span>: {{ textinfo.year(text) }}
			{% else %}
				Оригинално заглавие: <em>{{ textinfo.orig_title(text) }}</em>,
				<span title="Година на написване или първа публикация">{{ textinfo.year(text) }}</span>
			{% endif %}
			({{ textinfo.license(text.origlicense) }})
		</li>
		{% if text.origlang != text.lang %}
			<li>
			Превод от {{ ('lang.'~text.origlang) | trans }}: {{ textinfo.translator(text) }}, {{ textinfo.trans_year(text) }}
			({{ textinfo.license(text.translicense) }})
			</li>
		{% endif %}
		<li>
		Форма: <a href="{{ path('texts_by_type', {'type': text.type}) }}">{{ ('text.type.singular.'~text.type) | trans }}</a></li>
		<li>
			Етикети:
			<ul class="simplelist with-actions">
			{% for label in text.labels %}
				<li>
					{{ link.label(label) }}
					{% include 'LibBundle:Text:label_delete_form.html.twig' with {'label': label} %}
				</li>
			{% else %}
				<li class="no-items">Няма</li>
			{% endfor %}
			</ul>
			<a href="{{ path('text_label_new', {'id': text.id}) }}" class="action-new" title="Добавяне на етикет"><span>Нов</span></a>
		</li>
		<li>
			<a href="{{ path('text_comments', {'id': text.id}) }}">
			{% if text.commentcount > 1 %}
				Има <b>{{ text.commentcount }}</b> читателски мнения за произведението
			{% elseif text.commentcount == 1 %}
				Има <b>едно</b> читателско мнение за произведението
			{% else %}
				Все още не са дадени читателски мнения за произведението
			{% endif %}
			</a>
		</li>
		<li>Оценка: {{ textinfo.rating_expanded(text) }}</li>
	</ul>
	<ul class="user-actions">
		<li>Вашата оценка:
			{% render 'LibBundle:Text:rating' with {'id': text.id}, {'standalone': true} %}
		</li>
		<li>{% render 'LibBundle:Text:markReadForm' with {'id': text.id}, {'standalone': true} %}</li>
		<li>{{ textinfo.bookmark_form(text, ' ') }}</li>
	</ul>
</fieldset>
<div id="after-infobox" class="assistive"></div>
