<texts>
{% for text in texts %}
	<text>
		<id>{{ text.id }}</id>
		<slug>{{ text.slug }}</slug>
		<title>{{ text.title }}</title>
		{% if text.subtitle is defined %}<subtitle>{{ text.subtitle }}</subtitle>{% endif %}
		{% if text.orig_title is defined %}<orig-title>{{ text.orig_title }}</orig-title>{% endif %}
		{% if text.orig_subtitle is defined %}<orig-subtitle>{{ text.orig_subtitle }}</orig-subtitle>{% endif %}
		<lang>{{ text.lang }}</lang>
		<orig-lang>{{ text.orig_lang is defined ? text.orig_lang : '' }}</orig-lang>
		{% if text.year is defined %}<year{% if text.year2 is defined %} until="{{ text.year2 }}"{% endif %}>{{ text.year }}</year>{% endif %}
		{% if text.trans_year is defined %}<trans-year{% if text.trans_year2 is defined %} until="{{ text.trans_year2 }}"{% endif %}>{{ text.trans_year }}</trans-year>{% endif %}
		<type>{{ text.type }}</type>
		{% for person in text.authors %}
			<author>
				{% include 'LibBundle:Person:person.xml.twig' %}
			</author>
		{% endfor %}
		{% if text.series is defined %}
			<serie{% if text.sernr is defined %} nr="{{ text.sernr }}"{% endif %}{% if text.sernr2 is defined %} subnr="{{ text.sernr2 }}"{% endif %}>
				{% include 'LibBundle:Series:serie.xml.twig' with {'serie': text.series} %}
			</serie>
		{% endif %}
		{% if text.source is defined %}<source>{{ text.source }}</source>{% endif %}
		<size>{{ text.size }}</size>
		<comment-count>{{ text.comment_count }}</comment-count>
		<rating votes="{{ text.votes }}">{{ text.rating }}</rating>
		<mode>{{ text.mode }}</mode>
		<created-at>{{ text.created_at.format('Y-m-d') }}</created-at>
	</text>
{% endfor %}
</texts>
