{% if is_owner %}
	<p>Само вие може да виждате този списък. Ако желаете да дадете достъп до списъка и на други лица, ползвайте следния адрес: <a href="{{ url('user_read_list', {'username': user.token}) }}">{{ url('user_read_list', {'username': user.token}) }}</a></p>
{% endif %}
<ul class="superlist fa-ul">
{% import 'App::text.html.twig' as texttools %}
{% for read_text in read_texts %}
	<li class="title t-{{ read_text.text.type }}" title="{{ read_text.createdAt|humandate }}">
		<span class="fa fa-li fa-folder" title="{{ ('text.type.singular.'~read_text.text.type)|trans }}"></span>
		{{ texttools.text_with_author(read_text.text, {'download_links': true}) }}
	</li>
{% endfor %}
</ul>
