{% extends 'App::layout.rss.twig' %}

{% block title 'Нови произведения' %}
{% block content %}
	{% macro download_link(text, format) %}
		<a href="{{ url('text_show', {'id': text.id, '_format': format}) }}">{{ format }}</a>
	{% endmacro %}

	{% macro download_links(text) %}
		<ul>
			<li>{{ _self.download_link(text, 'txt.zip') }}</li>
			<li>{{ _self.download_link(text, 'fb2.zip') }}</li>
			<li>{{ _self.download_link(text, 'epub') }}</li>
			<li>{{ _self.download_link(text, 'sfb.zip') }}</li>
		</ul>
	{% endmacro %}

	{% import 'App::text.html.twig' as texttools %}
	{% import 'App::person.html.twig' as persontools %}
	{% import 'App::abslink.html.twig' as link %}
	{% for revisions in text_revisions_by_date %}
		{% for revision in revisions %}
			{% set text = revision.text %}
			{% set title = text.title ~ (text.subtitle is empty ? '' : '. ' ~ text.subtitle) %}
			{% set author = persontools.authors_plain(text.authors) %}
			<item>
				<title>{{ title }}</title>
				<dc:creator>{{ author }} (Моята библиотека)</dc:creator>
				<link>{{ url('text_show', {'id': text.id}) }}</link>
				<!--<comments>{{ url('text_comments', {'id': text.id}) }}</comments>-->
				<pubDate>{{ revision.date.format('r') }}</pubDate>
				<guid>{{ url('text_show', {'id': text.id}) }}#{{ revision.id }}</guid>
				<description>„{{ title }}“ от {{ author }}</description>
				<content:encoded><![CDATA[
	<div>„<a href="{{ url('text_show', {'id': text.id}) }}"><i>{{ title }}</i></a>“
		{% if text.authors|length %}
			от {{ link.persons_comma(text.authors) }}
		{% endif %}
	</div>
	{% if text.seeries is defined %}
		<div>Серия: {{ link.series(text.series) }}{% if text.sernr is defined %}, № {{ text.sernr }}{% endif %}</div>
	{% endif %}
	<div>Форма: {{ ('text.type.singular.'~text.type) | trans }}</div>
	<div>Сваляне: {{ _self.download_links(text) }}</div>
				]]></content:encoded>
				<!--<wfw:commentRss>{{ url('text_comments', {'id': text.id, '_format': 'rss'}) }}</wfw:commentRss>-->

			</item>
		{% endfor %}
	{% endfor %}
{% endblock %}
