<article class="readercomment" id="e{{ comment.id }}">
	{% if standalone %}
		<h1>
			{% import 'App::text.html.twig' as texttools %}
			За {{ texttools.text_title_with_author(comment.text) }}
		</h1>
	{% endif %}

	<div class="commenttext">
		{{ comment.content|user_markup|raw }}
	</div>

	<footer>
		<ul class="menu" style="float:right">
			<li><a href="{{ path('text_comments', {'id': comment.text.id, 'replyto': comment.id}) }}#e{{ comment.id }}" title="Отговор на коментара" class="js" onclick="return initReply({{ comment.id }})">Отговор</a></li>
			<li><a href="{{ path('text_comments', {'id': comment.text.id}) }}" title="Всички коментари за произведението">Всички коментари</a></li>
		</ul>
		<strong>
			{% if comment.user is not empty %}
				<a href="{{ path('user_show', {'username': comment.user.username}) }}" class="user">{{ comment.user.username }}</a>
			{% else %}
				{{ comment.rname }}
			{% endif %}
		</strong>
		<time datetime="{{ comment.time.format('c') }}" pubdate>({{ comment.time|humandate }})</time>
	</footer>
	<div id="replyto{{ comment.id }}"><!-- TODO remove --></div>
</article>
