<ul class="superlist">
{% for author in authors %}
	<li><dl>
		{% if author.person is defined %}
			<dt>{{ author.name|name_format(by)|raw }} &rarr; <a href="{{ path('person_show', {'slug': author.person.slug}) }}">{{ author.person.name|name_format(by)|raw }}</a></dt>
			<dd class="orig-name">{{ author.orig_name ? author.orig_name|name_format(by)|raw : '—' }}</dd>
		{% else %}
			<dt><a href="{{ path('person_show', {'slug': author.slug}) }}">{{ author.name|name_format(by)|raw }}</a></dt>
			<dd class="orig-name">{{ author.orig_name ? author.orig_name|name_format(by)|raw : '—' }}</dd>
		{% endif %}
	</dl></li>
{% else %}
	<li class="no-items">Няма намерени автори.</li>
{% endfor %}
</ul>
