{% for title, navbody in navextra %}
	<div class="navbody">
		<h3>{{ title }}</h3>
		{{ navbody|raw }}
	</div>
{% endfor %}

<div id="nav-extra-books" class="navbody">
	<h3>Препоръчано</h3>
	<div class="navcontent">
		{{ render(controller('LibBundle:FeaturedBook:book')) }}
	</div>
	<div class="navfooter"><a href="{{ path('featured_books') }}">още четива »</a></div>
</div>

<div id="nav-extra-links" class="navbody">
	<h3>Из Мрежата</h3>
	<div class="navcontent">
		{{ render(controller('LibBundle:Main:sitebox')) }}
	</div>
	<div class="navfooter"><a href="{{ path('links') }}">още връзки »</a></div>
</div>
