{% macro letter_links(route, letter, suffix, params) %}
	<ul role="navigation" class="pagination pagination-sm">
	{% set letters = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Ъ', 'Ю', 'Я', '-'] %}
	{% for aletter in letters %}
		{% set text = aletter == '-' ? '»' : aletter %}
		{% set params = params is empty ? { 'letter': aletter } : params|merge({ 'letter': aletter }) %}
		<li {% if letter == aletter %}class="active"{% endif %}><a href="{{ path(route, params) }}">{{ text }}{{ suffix|raw }}</a></li>
	{% endfor %}
	</ul>
{% endmacro %}


{% macro person_first_letter_links(route, letter) %}
	{{ _self.letter_links(route, letter|default(''), '<span class="sr-only"> (първо име)</span>', {'by': 'first-name'}) }}
{% endmacro %}

{% macro person_last_letter_links(route, letter) %}
	{{ _self.letter_links(route, letter|default(''), '<span class="sr-only"> (фамилия)</span>', {'by': 'last-name'}) }}
{% endmacro %}
