<div class="navbody">
	<h3>Читалня</h3>
	<ul class="textmenu">
		<li><a href="{{ path('authors') }}">Автори</a></li>
		<li><a href="{{ path('translators') }}">Преводачи</a></li>
		<li><a href="{{ path('books') }}">Книги</a></li>
		<li><a href="{{ path('texts') }}">Произведения</a></li>
		<li><a href="{{ path('text_random') }}">Случайна творба</a></li>
		<li><a href="{{ path('series') }}">Серии</a></li>
		<li><a href="{{ path('sequences') }}">Поредици</a></li>
		<li><a href="{{ path('texts_comments') }}">Читателски мнения</a></li>
	</ul>
</div>
<div class="navbody">
	<h3>Работилница</h3>
	<ul class="textmenu">
		<li><a href="{{ path('new') }}">Новодобавено</a></li>
		<li><a href="{{ path('workroom') }}">Работно ателие</a></li>
		<li><a href="{{ path('statistics') }}">Статистика</a></li>
	</ul>
</div>
