{% macro list_item(series) %}
	{% import 'App::text.html.twig' as text_lister %}
	<dl itemscope itemtype="http://schema.org/CreativeWork">
		<dt>
			<a href="{{ path('series_show', {'slug': series.slug}) }}" itemprop="name"><em>{{ series.name }}</em></a>
		</dt>
		<dd class="orig-name"><i>{{ series.orig_name ? series.orig_name : '—' }}</i></dd>
		<dd class="tauthor" itemprop="author">{{ text_lister.author_list(series.authors, ' ') }}</dd>
	</dl>
{% endmacro %}

<ul class="superlist series-list">
{% for serie in series %}
	<li>{{ _self.list_item(serie) }}</li>
{% else %}
	<li class="no-items">
		{% import 'App::helper.html.twig' as helper %}
		{{ helper.not_found('Няма намерени серии.') }}
	</li>
{% endfor %}
</ul>
