{% import 'text.html.twig' as text_lister %}
	<h2>
		{% if series.slug is defined %}
			<a href="{{ path('series_show', {'slug': series.slug}) }}">{{ series.name }}</a>
			{% if series.origName is not empty %}
				({{ series.origName }})
			{% endif %}
		{% else %}
			{{ series.name }}
		{% endif %}
	</h2>
	{{ text_lister.text_list(texts) }}
	{% if texts|length > 1 %}
		{% set filename = person.slug ~'_'~ ( series.slug is defined ? series.slug : series.name ) %}
		{% include 'Text/multi_download_form.html.twig' with {'filename': filename~''} %}
	{% endif %}
