{% import 'book.html.twig' as booktools %}
{% for day, revisions in book_revisions_by_date %}
	<h3><a href="{{ path('new_books_by_day', {year: day|date('Y'), month: day|date('n'), day: day|date('d')}) }}">{{ day|humandate }}</a></h3>
	<div class="clearfix booklist">
	{% for revision in revisions %}
		<div class="col-md-6 col-book" title="{{ revision.comment }}">
			{{ booktools.book(revision.book) }}
		</div>
	{% endfor %}
	</div>
{% else %}
	<p class="no-items">
		{% import 'helper.html.twig' as helper %}
		{{ helper.not_found('Няма намерени книги.') }}
	</p>
{% endfor %}
{% include 'pager.html.twig' %}
