<div class="feed-standalone">
	<a href="{{ path('new_books', {'_format': 'rss'}) }}" title="RSS 2.0 — нови книги" rel="feed"><span class="fa fa-rss"></span> RSS</a>
</div>
{% import 'App::book.html.twig' as booktools %}
{% for day, revisions in book_revisions_by_date %}
	<h3>{{ day|humandate }}</h3>
	<div class="clearfix booklist">
	{% for revision in revisions %}
		<div class="col-md-6 col-book" title="{{ revision.comment }}">
			{{ booktools.book(revision.book) }}
		</div>
	{% endfor %}
	</div>
{% else %}
	<p class="no-items">
		{% import 'App::helper.html.twig' as helper %}
		{{ helper.not_found('Няма намерени книги.') }}
	</p>
{% endfor %}
{% include 'App::pager.html.twig' %}
