<div class="feed-standalone">
	<a href="{{ path('new_texts', {'_format': 'rss'}) }}" title="RSS 2.0 — нови произведения" rel="feed"><span class="fa fa-rss"></span> RSS</a>
</div>
{% import 'App::text.html.twig' as texttools %}
{% for day, revisions in text_revisions_by_date %}
	<h3>{{ day|humandate }}</h3>
	<ul class="superlist fa-ul">
	{% for revision in revisions %}
		{% set prefix %}
			<span title="{{ revision.comment }}">{{ revision.first ? 'Н' : 'к' }}</span>
		{% endset %}
		<li class="title t-{{ revision.text.type }}"><span class="fa-li fa fa-folder" title="{{ ('text.type.singular.'~revision.text.type)|trans }}"></span>{{ texttools.text_with_author(revision.text, {'prefix': prefix, 'download_links': true}) }}</li>
	{% endfor %}
	</ul>
{% else %}
	<p class="no-items">
		{% import 'App::helper.html.twig' as helper %}
		{{ helper.not_found('Няма намерени произведения.') }}
	</p>
{% endfor %}
{% include 'App::pager.html.twig' %}
