{% extends 'layout.html.twig' %}

{% set title %}
	<a class="selflink" itemprop="name" data-edit="{{ path('admin_sequence_edit', {id: sequence.id}) }}">{{ sequence.name }}</a>
{% endset %}
{% set subtitle = 'издателска поредица' %}
{% block content %}
	{% import 'helper.html.twig' as helper %}
	<ul class="breadcrumb" itemprop="breadcrumb">
		<li><a href="{{ path('sequences') }}">Издателски поредици</a></li>
		<li><a href="{{ path('sequences_by_alpha', {'letter': sequence.name|first_char}) }}">{{ sequence.name|first_char }}</a></li>
		<li class="active">{{ sequence.name }}
			{% if sequence.publisher %}
				({{ sequence.publisher }})
			{% endif %}
			{{ helper.printNrOfItems(sequence.nrOfBooks) }}
		</li>
	</ul>
	{% if sequence.annotation is not empty %}
		<div class="panel panel-info">
			<div class="panel-body">
				{{ sequence.annotation|raw }}
			</div>
		</div>
	{% endif %}
	{% include 'Book/list.html.twig' %}
{% endblock %}
