{% extends 'App::layout.html.twig' %}

{% block site_notice %}{% endblock %}

{% block content %}
	<h1 class="welcome">Добре дошли в <em>Моята библиотека</em>!</h1>

	{% for siteNotice in siteNotices %}
		<div class="alert alert-info site-notice" style="{{ siteNotice.style }}">
			{{ siteNotice.content|raw }}
		</div>
	{% endfor %}

	{% if books is defined %}
		<section id="mp-new-books">
			<h2><a href="{{ path('new_books') }}">Нови книги</a></h2>
			<div class="well">
				{% include 'History/books_list.html.twig' with {book_revisions_by_date: books} %}
				<ul class="pager"><li class="next more"><a href="{{ path('new_books') }}">Още нови книги</a></li></ul>
			</div>
		</section>
	{% endif %}
	{% if texts is defined %}
		<section id="mp-new-texts">
			<h2><a href="{{ path('new_texts') }}">Нови произведения</a></h2>
			<div class="well">
				{% include 'History/texts_list.html.twig' with {text_revisions_by_date: texts} %}
				<ul class="pager"><li class="next more"><a href="{{ path('new_texts') }}">Още нови произведения</a></li></ul>
			</div>
		</section>
	{% endif %}

	<div class="separator"></div>

	{% if liter_posts is defined %}
		<section id="mp-liternews" class="box liternewsbox">
			<h2><a href="//planet.chitanka.info/">От литературните блогове</a></h2>
			{% if not liter_posts.empty %}
				{{ liter_posts|raw }}
			{% else %}
				<p class="error">Неуспех при вземането на последните литературни новини.</p>
			{% endif %}
		</section>
	{% endif %}

	{% if searches is defined %}
		<section id="mp-search" class="box box3">
			<h2><a href="{{ path('search') }}">Потърсено</a></h2>
			<div class="well">
				{% include 'Search/top_strings.html.twig' with {strings: searches} %}
			</div>
		</section>
	{% endif %}

	<div class="separator"></div>

	{% if comments is defined %}
		<section id="mp-reader-comments" class="box box2 commentbox">
			<h2><a href="{{ path('texts_comments') }}">Читателите казват</a></h2>
			{% include 'TextComment/latest_comments.html.twig' with {comments: comments} %}
		</section>
	{% endif %}
	{% if forum_posts is defined %}
	<section id="mp-forum-posts" class="box box2 forumbox">
		<h2><a href="//forum.chitanka.info">От форума</a></h2>
		{% if not forum_posts.empty %}
			{{ forum_posts|raw }}
		{% else %}
			<p class="error">Неуспех при вземането на последните форумни съобщения.</p>
		{% endif %}
	</section>
	{% endif %}

	<div class="separator"></div>

{% endblock %}
{% block inline_js %}
<script>
(function(){
	var expander = '<button class="expander btn btn-default" role="button"><span>Показване на още</span> <span class="fa fa-angle-double-down"></span></button>';
	var hideCss = {"overflow": "hidden"};
	var showCss = {"height": "auto", "overflow": "visible"};

	var adjustHeight = function(elm, height){
		if ($(elm).height() > height){
			$(elm).height(height).addClass("collapsed").css(hideCss).after(expander).click(function(){
				$(this).css(showCss).next(".expander").remove();
			});
		}
	};

	$(".commentbox article, .forumbox article").each(function(){
		adjustHeight(this, 220);
	});
	$(".liternewsbox article, .insidenews article").each(function(){
		adjustHeight(this, 450);
	});
	$(".page-content").on("click", "button.expander", function(){
		$(this).prev().removeClass("collapsed").css(showCss).end().remove();
	});
})();
</script>
{% endblock %}
