{% if text.removedNotice is empty %}
	{% import 'App::text.html.twig' as texttools %}
	{{ texttools.qrcode(text) }}
	<div class="text-entity" data-id="{{ text.id }}">
		{{ texttools.download_links(text) }}
	</div>
{% endif %}
{% if text.links|length %}
	<div class="menu">
		<hr>
		<p>В други сайтове:</p>
		<ul>
			{% for link in text.links %}
				<li><a href="{{ link.url }}" class="btn btn-default">{{ link.sitename }}{% if link.description is not empty %} ({{ link.description }}){% endif %}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
