	{% if text.book and text.book.hasCover %}
		{% import 'App::book.html.twig' as booktools %}
		{{ booktools.cover_div(text.book, 200) }}
	{% endif %}

	<dl>
	{% for contrib in text.userContribs %}
		{% if contrib.comment %}
			<dt>{{ contrib.comment }}</dt>
			<dd>
			{% if contrib.user %}
				<a href="{{ path('user_show', {'username': contrib.username}) }}" class="user">{{ contrib.username }}</a>
			{% else %}
				{{ contrib.username }}
			{% endif %}
			{% if contrib.humandate is not empty %}({{ contrib.humandate }}){% endif %}
			</dd>
		{% endif %}
	{% endfor %}
	{% if text.source is not empty %}
		<dt>Източник</dt><dd>{{ text.source|link|raw }}</dd>
	{% endif %}
	</dl>
	<div class="text-content">
		{{ text.fullExtraInfoForHtml(asset('/'))|raw }}
	</div>
{#
	<hr>
	<p>Последна редакция: {{ text.currev.date|humandate }}</p>
#}
