{% import 'App::text.html.twig' as textinfo %}
{% import 'App::link.html.twig' as link %}
<div class="text-entity" data-id="{{ text.id }}">
	<dl class="dl-horizontal">
		{% if text.series.slug is defined %}
			<dt>Серия</dt>
			<dd>
			{{ link.series(text.series) }}
			{% if text.sernr %}
				({{ text.sernr }})
			{% endif %}
			</dd>
		{% endif %}
		{% if text.books|length %}
			<dt>
			{% if text.books|length == 1 %}
				Включено в книгата
			{% elseif text.books|length > 1 %}
				Включено в книгите:
			{% endif %}
			</dt>
			<dd>
			{% include 'App:Book:list.html.twig' with {'books': text.books} %}
			</dd>
		{% endif %}
			<dt>
				{% if text.origLang != text.lang %}
					Оригинално заглавие
				{% else %}
					<span title="Година на написване или първа публикация">Година</span>
				{% endif %}
			</dt>
			<dd>
				{% if text.origLang != text.lang %}
					<em>{{ textinfo.origTitle(text) }}</em>,
				{% endif %}
				<span title="Година на написване или първа публикация">{{ textinfo.year(text) }}</span>
			{% if text.origLicense is not empty %}
				({{ textinfo.license(text.origLicense) }})
			{% endif %}
			</dd>

		{% if text.origLang != text.lang %}
			<dt>Превод от {{ ('lang.'~text.origlang) | trans }}</dt>
			<dd>
			{{ textinfo.translator(text) }}, {{ textinfo.transYear(text) }}
			{% if text.transLicense is not empty %}
				({{ textinfo.license(text.transLicense) }})
			{% endif %}
			</dd>
		{% endif %}
		<dt>Форма<dt>
		<dd><a href="{{ path('texts_by_type', {'type': text.type}) }}">{{ ('text.type.singular.'~text.type) | trans }}</a></dd>

		{% for labelGroup in text.availableLabels %}
		<dt>
			<a href="{{ path('text_label_log', {id: text.id}) }}">{{ ('labels.'~labelGroup)|trans }}</a>
		</dt>
		<dd>
			<ul class="simplelist with-actions">
			{% for label in text.labelsByGroup(labelGroup) %}
				<li>
					{{ link.label(label) }}
					{% if label.description is not empty %}
						<span class="popover-trigger" data-content="{{ label.description }}"><span class="fa fa-info-circle"></span></span>
					{% endif %}
					{% include 'App:Text:label_delete_form.html.twig' with {'label': label} %}
				</li>
			{% else %}
				<li class="no-items">Няма</li>
			{% endfor %}
			</ul>
			<a href="{{ path('text_label_new', {id: text.id, group: labelGroup}) }}" class="action-new" title="Добавяне на етикет"><span class="fa fa-plus"></span></a>
		</dd>
		{% endfor %}

		<dt>Оценка</dt>
		<dd>{{ textinfo.rating_expanded(text) }}</dd>
	</dl>

	<ul class="user-actions">
		<li>Вашата оценка:
			{{ render_esi(controller('App:Text:rating', {'id': text.id})) }}
		</li>
		<li>{{ render_esi(controller('App:Text:markReadForm', {'id': text.id})) }}
		<li>{{ textinfo.bookmark_form(text, ' ') }}</li>
	</ul>
</div>
