{% if id_suffix is not defined %}
	{% set id_suffix = '' %}
{% endif %}
<ul class="nav nav-tabs">
	<li class="active"><a href="#text-info{{ id_suffix }}" data-toggle="tab"><span class="fa fa-folder-o"></span> Данни</a></li>
	<li><a href="#text-extra-info{{ id_suffix }}" data-toggle="tab"><span class="fa fa-tag"></span> Информация</a></li>
	<li><a href="#text-links{{ id_suffix }}" data-toggle="tab"><span class="fa fa-download"></span> Сваляне / Връзки</a></li>
	<li><a href="{{ path('text_comments', {'id': text.id}) }}" data-target="#text-comments{{ id_suffix }}" data-toggle="tab" itemprop="discussionUrl"><span class="fa fa-comments-o"></span> Коментари ({{ text.commentcount }})</a></li>
	{% if wikiPage is defined %}
		<li><a href="#article{{ id_suffix }}" data-toggle="tab"><span class="fa fa-file-text-o"></span> Статия</a></li>
	{% endif %}
	{% if juxtaposedTexts is defined and juxtaposedTexts is not empty %}
		<li><a href="#text-juxtaposed{{ id_suffix }}" data-toggle="tab"><span class="fa fa-exchange"></span> Съпоставени текстове</a></li>
	{% endif %}
</ul>

<div class="tab-content clearfix">
	<div class="tab-pane active text-info" id="text-info{{ id_suffix }}">
		{% include 'Text/info.html.twig' %}
	</div>
	<div class="tab-pane text-extra-info" id="text-extra-info{{ id_suffix }}">
		{% include 'Text/extra_info.html.twig' %}
	</div>
	<div class="tab-pane expanded-links text-links" id="text-links{{ id_suffix }}">
		{% include 'Text/extra_links.html.twig' %}
	</div>
	<div class="tab-pane text-comments" id="text-comments{{ id_suffix }}">
		<br>
	</div>
	{% if wikiPage is defined %}
		<div class="tab-pane wikiinfo article" id="article{{ id_suffix }}">
			<p class="intro">{{ wikiPage.intro|raw }}</p>
			<div class="wikiinfo">{{ wikiPage.content|raw }}</div>
		</div>
	{% endif %}
	{% if juxtaposedTexts is defined and juxtaposedTexts is not empty %}
		<div class="tab-pane text-juxtaposed" id="text-juxtaposed{{ id_suffix }}">
			{% import 'text.html.twig' as texttools %}
			{{ texttools.text_list_with_author(juxtaposedTexts) }}
		</div>
	{% endif %}
</div>
