<texts>
{% for text in texts %}
	<text>
		<id>{{ text.id }}</id>
		<slug>{{ text.slug }}</slug>
		<title>{{ text.title }}</title>
		{% if text.subtitle is not empty %}<subtitle>{{ text.subtitle }}</subtitle>{% endif %}
		{% if text.origTitle is not empty %}<orig-title>{{ text.origTitle }}</orig-title>{% endif %}
		{% if text.origSubtitle is not empty %}<orig-subtitle>{{ text.origSubtitle }}</orig-subtitle>{% endif %}
		<lang>{{ text.lang }}</lang>
		<orig-lang>{{ text.origLang is not empty ? text.origLang : '' }}</orig-lang>
		{% if text.year is not empty %}<year{% if text.year2 is not empty %} until="{{ text.year2 }}"{% endif %}>{{ text.year }}</year>{% endif %}
		{% if text.transYear is not empty %}<trans-year{% if text.transYear2 is not empty %} until="{{ text.transYear2 }}"{% endif %}>{{ text.transYear }}</trans-year>{% endif %}
		<type>{{ text.type }}</type>
		{% for person in text.authors %}
			<author>
				{% include 'App:Person:person.xml.twig' %}
			</author>
		{% endfor %}
		{% for person in text.translators %}
			<translator>
				{% include 'App:Person:person.xml.twig' %}
			</translator>
		{% endfor %}
		{% if text.series is not empty %}
			<serie{% if text.sernr is not empty %} nr="{{ text.sernr }}"{% endif %}{% if text.sernr2 is not empty %} subnr="{{ text.sernr2 }}"{% endif %}>
				{% include 'App:Series:serie.xml.twig' with {'serie': text.series} %}
			</serie>
		{% endif %}
		{% if text.source is not empty %}<source>{{ text.source }}</source>{% endif %}
		<size>{{ text.size }}</size>
		<comment-count>{{ text.commentCount }}</comment-count>
		<rating votes="{{ text.votes }}">{{ text.rating }}</rating>
		<removed-notice>{{ text.removedNotice }}</removed-notice>
		<created-at>{{ text.createdAt.format('Y-m-d') }}</created-at>
	</text>
{% endfor %}
</texts>
