{% extends 'App::layout.html.twig' %}

{% set title = 'Произведения' %}
{% set subtitle %}<a class="selflink" data-edit="{{ path('admin_label_edit', {'id': label.id}) }}">{{ label.name }}</a>{% endset %}
{% block content %}

	{% import 'helper.html.twig' as helper %}
	{% if texts is empty %}

		<p class="no-items">
			{{ helper.not_found('Няма намерени произведения.') }}
		</p>

	{% else %}

		<ul class="breadcrumb" itemprop="breadcrumb">
			<li><a href="{{ path('texts') }}">Произведения</a></li>
			{% for parent in parents %}
				<li><a href="{{ path('texts_by_label', {'slug': parent.slug}) }}">{{ parent.name }}</a></li>
			{% endfor %}
			<li class="active">
				<a href="{{ path('texts_by_label', {'slug': label.slug}) }}" data-edit="{{ path('admin_label_edit', {'id': label.id}) }}">{{ label.name }}</a>
				{{ helper.printNrOfItems(label.nrOfTexts) }}
				{{ helper.printInfoTip(label.description) }}
			</li>
		</ul>

		<div class="superlist">
			{% include 'listSettings.html.twig' %}
			{% include 'Text/list.html.twig' %}
			{% include 'Text/multi_download_form.html.twig' with { filename: 'label-'~label.name~'_'~pager.page } %}
		</div>
		{% include 'App::pager.html.twig' %}

	{% endif %}

	{#% include 'App::color_legend.html.twig' %#}

{% endblock %}
