{% macro download_link(texts, format, filename) %}
	{% set ids = '' %}
	{% for text in texts %}
		{% set ids = ids ~ (loop.first ? '' : ',') ~ text.id %}
	{% endfor %}
	<a href="{{ path('text_show', {'id': ids, '_format': format, filename: filename}) }}" title="Сваляне на всички във формат {{ format }}" class="dl dl-{{ format|replace({'.zip': ''}) }}"><span>{{ format }}</span></a>
{% endmacro %}

{% set filename = filename is defined ? filename : '' %}
<dl class="download-multi">
	<dt>Сваляне на всички:</dt>
	<dd class="download">
		<ul class="dl-list">
			<li>{{ _self.download_link(texts, 'fb2.zip', filename) }}</li>
			<li>{{ _self.download_link(texts, 'epub', filename) }}</li>
			<li>{{ _self.download_link(texts, 'txt.zip', filename) }}</li>
			<li>{{ _self.download_link(texts, 'sfb.zip', filename) }}</li>
		</ul>
	</dd>
</dl>
