{% extends ajax ? 'App::layout.js.twig' : 'App::layout.html.twig' %}

{% set title = 'Добавяне на етикет' %}
{% block content %}
{{ form_start(form, { action: path('text_label_new', {id: text.id, group: group}), attr: {class: 'new-form form-inline'} }) }}
	{{ form_errors(form) }}
	<div class="form-group">
		{{ form_label(form.label, ' ') }}
		{{ form_widget(form.label, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<button type="submit" class="btn btn-default">Добавяне</button>
{{ form_end(form) }}
{% endblock %}
