{% extends 'layout.html.twig' %}

{% set title %}
	<div class="row">
		{% for text in texts %}
			<div class="col-xs-{{ grid_cols }}">
				{% include 'Text/title.html.twig' with {'id_suffix': loop.index, 'obj_count': obj_count * loop.index} %}
			</div>
		{% endfor %}
	</div>
{% endset %}

{% block content %}
	<div class="row">
		{% for text in texts %}
			<div class="col-xs-{{ grid_cols }}">
				{% include 'Text/leading_tabs.html.twig' with {'id_suffix': loop.index} %}
			</div>
		{% endfor %}
	</div>
	<div class="row">
		{% for text in texts %}
			<div class="col-xs-{{ grid_cols }}">
				{% include 'Text/toc.html.twig' with {'id_suffix': loop.index} %}
			</div>
		{% endfor %}
	</div>
	<div class="row" id="textstart">
		{% for text in texts %}
			<div class="col-xs-{{ grid_cols }}">
				{% if text.removedNotice is not empty %}
					<div class="removed-notice">{{ text.removedNotice|raw }}</div>
				{% else %}
					{% include 'Text/content.html.twig' with {'id_suffix': loop.index, 'obj_count': obj_count * loop.index} %}
					{% include 'Text/end_message.html.twig' with {'id_suffix': loop.index} %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block inline_js %}
<script>
const $mainImages = $('.text-content-main img');
if ($mainImages.length) {
	$('<button class="btn btn-default"><i class="fa fa-image"></i> Скриване на изображенията</button>').on('click', function() {
		$mainImages.toggle();
	}).insertBefore('#textstart');
}
</script>
{% endblock %}
