{% import 'helper.html.twig' as helper %}
<ul class="two-columns">
{% for type in types %}
	<li>
		<a href="{{ path('texts_by_type', {'type': type.code}) }}" data-edit="{{ path('admin_text_type_edit', {'id': type.code}) }}">{{ type }}</a>
		{{ helper.printNrOfItems(type.nrOfTexts, 'tooltip.nr-of-texts-with-type'|transchoice(type.nrOfTexts, {'%type%': type.name})) }}
		{{ helper.infoTip(type.description) }}
	</li>
{% endfor %}
</ul>
