<item>
	<title>{{ book.title }}</title>
	<dc:creator>{{ book.author }} (Моята библиотека)</dc:creator>
	<link>{{ book.url }}</link>
	<guid>{{ book.url }}</guid>
	<description>„{{ book.title }}“ от {{ book.author }}</description>
	<content:encoded><![CDATA[
		{% include 'App:FeaturedBook:book.html.twig' %}
	]]></content:encoded>
</item>
