<div id="personal" title="Лични инструменти">
	<h3 class="assistive">Лични инструменти</h3>
	<ul>
	{% if _user.isAuthenticated() %}
		<li class="user-profile"><a href="{{ path('user_show', {'username': _user.username}) }}" title="Лична страница">{{ _user.username }}</a></li>
		<li class="user-settings"><a href="{{ path('user_edit', {'username': _user.username}) }}" title="Потребителски настройки">Настройки</a></li>
		{% if _user.inGroup('admin') %}
			<li class="user-dashboard"><a href="{{ path('sonata_admin_dashboard') }}" title="Администрация"><span>Администрация</span></a></li>
		{% endif %}
		<li class="user-signout" title="Изход от библиотеката"><a href="{{ path('logout') }}">Изход</a></li>
	{% else %}
		<li class="user-signin"><a href="{{ path('login') }}">Вход</a></li>
		<li class="user-register"><a href="{{ path('register') }}">Регистрация</a></li>
	{% endif %}
	</ul>
	<script>
		var userGroups = {{ _user.groups|json|raw }};
	</script>
</div>
