<form action="{{ path('workroom') }}" method="get" class="form-inline standalone" role="form">

	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Преглед <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
			{% for type, title in viewTypes %}
				<li>
					<a href="{{ path('workroom', { 'status': type }) }}" class="{{ subaction == type ? 'selected' : '' }}" title="Преглед на произведенията по критерий „{{ title }}“"><span class="{{ statusClasses[type] }}"></span> {{ title }}</a>
				</li>
			{% endfor %}
			<li role="presentation" class="divider"></li>
			{% for code, statusTitle in statuses %}
				<li>
					{% set type = 'st'~code %}
					<a href="{{ path('workroom', { 'status': type }) }}" class="{{ subaction == type ? 'selected' : '' }}" title="Преглед на произведенията по критерий „{{ statusTitle }}“"><span class="{{ statusClasses[code] }}"></span> {{ statusTitle }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="form-group">
		<label for="wq" class="sr-only">Търсене на: </label>
		<div class="input-group">
			<input type="text" class="form-control" title="Търсене из подготвяните произведения" maxlength="100" size="50" id="wq" name="wq" value="{{ query }}">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit"><span class="fa fa-search"></span><span class="sr-only">Търсене</span></button>
			</span>
		</div>
	</div>
</form>
