<a href="{{ book.url }}" class="adbook">{{ book.author }}<br>
	<img src="{{ book.cover }}" width="90" title="{{ book.author }} — {{ book.title }}" /><br>
	<b style="font-variant: small-caps"><i>{{ book.title }}</i></b>
</a>
