{% extends 'App::layout.html.twig' %}

{% set title %}
	<a class="selflink" itemprop="name" data-edit="{{ path('admin_series_edit', {id: series.id}) }}">{{ series.name }}</a>
{% endset %}
{% set subtitle = 'серия' %}
{% block content %}
	{% import 'App::text.html.twig' as text_lister %}
	<ul class="breadcrumb" itemprop="breadcrumb">
		<li><a href="{{ path('series') }}">Серии</a></li>
		<li><a href="{{ path('series_by_alpha', {'letter': series.name|first_char}) }}">{{ series.name|first_char }}</a></li>
		<li class="active"><em>{{ series.name }}</em> {{ text_lister.author_list(series.authors) }}</li>
	</ul>
	<div class="superlist">
	{{ text_lister.text_list(texts) }}
	{% if texts|length > 1 %}
		{% include 'App:Text:multi_download_form.html.twig' %}
	{% endif %}
	</div>
	{#% include 'App::color_legend.html.twig' %#}
{% endblock %}
