{% extends 'App::layout.html.twig' %}

{% set title = 'Изпращане на нова парола' %}
{% block content %}
<p>Чрез долния формуляр можете да поискате нова парола за влизане в <em>Моята библиотека</em>, ако сте забравили сегашната си. Такава обаче може да ви бъде изпратена само ако сте посочили валидна електронна поща в потребителските си данни.</p>

{{ form_start(form, { attr: {class: "form-horizontal"} }) }}
	{{ form_errors(form) }}

	<div class="form-group">
		{{ form_label(form.username, 'Потребителско име', { label_attr: {class: 'col-sm-2 control-label'} }) }}
		<div class="col-sm-10">
			{{ form_errors(form.username) }}
			{{ form_widget(form.username, { attr: {class: 'form-control'} }) }}
		</div>
	</div>
	<div class="form-submit">
		{{ form_widget(form.save, { attr: {class: 'btn btn-primary'} , label: 'Изпращане на нова парола' }) }}
	</div>
{{ form_end(form) }}
{% endblock content %}
